.c-LoginSection {
  width: 49%;
}

.c-LoginSection__error {
  color: red;
  margin-bottom: 15px;
}

.c-LoginSection__label {
  margin-bottom: 10px;
}

.c-LoginSection__input {
  margin-bottom: 10px;
  width: 100%;
  padding: 7px;
}
