:root {
  --border-colour: grey;
  --highlight-text: rgb(248, 8, 8);
  --error-colour: red;
  --main-text-colour: #1b1b1b;
  --lighter-text-colour: rgb(39, 39, 39);
  --secondary-text-colour: white;
  --secondary-background-colour: #e4e4e4;
}

.container {
  margin: 50px 0px 100px 0px;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}

body {
  background-color: #faf9f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.active {
  color: var(--highlight-text);
}

a {
  text-decoration: none;
  color: var(--main-text-colour);
}

ul,
li {
  list-style: none;
}

input[type] {
  outline: none;
}

.default-btn {
  margin-top: 15px;
  color: white;
  background-color: var(--main-text-colour);
  border: none;
  width: 100%;
  padding: 12px 20px;
  cursor: pointer;
  outline: none;
}

.inverted-btn {
  margin-top: 15px;
  background-color: white;
  color: var(--main-text-colour);
  border: 1px solid var(--main-text-colour);
  width: 100%;
  padding: 12px 20px;
  cursor: pointer;
  outline: none;
}

.red-btn {
  font-size: 15px;
  background-color: #f22;
  color: white;
  border: none;
  padding: 15px 10px;
  cursor: pointer;
  outline: none;
  width: 100%;
}

.small-btn {
  width: 200px;
}

.large-btn {
  width: 300px;
  height: 60px;
}

.default-btn:hover {
  opacity: 0.9;
}

.inverted-btn:hover {
  opacity: 0.7;
}

.red-btn:hover {
  background-color: var(--highlight-text);
}

.full {
  width: 100%;
}

.flex {
  display: flex;
}

.lighter-font {
  font-size: 0.8em;
  color: #444444;
}

.main-header {
  margin-bottom: 5px;
}
