.l-Payment {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 100px;
}

.c-Payment {
  width: 59%;
}

.c-Payment__button {
  margin-bottom: 30px;
}

@media only screen and (max-width: 950px) {
  .l-Payment {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .c-Payment {
    width: 100%;
  }
}
