.c-ProductDescription {
  margin: 20px 0px;
  padding: 50px 125px;
  background-color: var(--secondary-background-colour);
}

.c-ProductDescription__description {
  font-weight: 200;
  margin-bottom: 30px;
}
