.c-ProductVariants {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.c-ProductVariants-selected {
  border: 1.5px solid var(--main-text-colour);
}

.c-ProductVariants-spacing {
  margin-right: 3px;
  padding: 1px;
}

.c-ProductVariants__image {
  width: 100%;
  height: 100%;
}

.c-ProductVariants__container {
  width: 60px;
  height: 90px;
}

@media only screen and (max-width: 1000px) {
  .l-ProductPage__images {
    flex-direction: column;
  }
}
