.c-Input__row {
  margin: 18px 0px;
}

.c-Input__label {
  width: 25%;
  display: inline-block;
}

.c-Input__asterix {
  color: var(--error-colour);
  margin-left: 3px;
}

.c-Input__input {
  width: 35%;
  padding: 8px;
}

.c-Input__error {
  margin-left: 20px;
  color: var(--error-colour);
}
