.c-DropDownList {
  border: 1px solid grey;
  position: relative;
  min-width: 200px;
}

.c-DropDownList__current {
  display: inline-block;
  padding: 10px 15px;
}

.c-DropDownList__list {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  position: absolute;
  display: none;
  z-index: 5;
  background-color: white;
  width: 100%;
  border: 2px solid lightgrey;
  max-height: 285px;
  overflow: hidden;
  overflow-y: scroll;
}

.c-DropDownList-active {
  visibility: visible;
  display: block;
}

.c-DropDownList__arrow {
  position: absolute;
  right: 12px;
  top: 6px;
  font-size: 18px;
  color: gray;
}
