.c-ProductSizes-error {
  margin-top: 5px;
  color: var(--error-colour);
}

.c-ProductSizes {
  margin-top: 5px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.c-ProductSizes-unavailable {
  color: #e4e4e4;
  cursor: default;
  pointer-events: none;
}

.c-ProductSizes-available,
.c-ProductSizes-unavailable,
.c-ProductSizes-active {
  border: 1px solid var(--border-colour);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  height: 3.125rem;
  min-width: 3.125rem;
  font-size: 15px;
  margin: 4px 4px 0px 0px;
  cursor: pointer;
}

.c-ProductSizes-available:hover {
  border: 1px solid var(--main-text-colour);
  background-color: #e4e4e4;
}

.c-ProductSizes-active {
  border: 1px solid white;
  background-color: var(--main-text-colour);
  color: var(--secondary-text-colour);
}
