.c-LogInPage {
  margin: 50px 0px;
  padding: 20px;
  border: 1px solid grey;
}

.c-LogInPage-flex {
  display: flex;
}

.c-LogInPage__horizontal {
  border-left: 1px solid grey;
  margin: 0px 20px;
}

.c-LogInPage__title {
  margin-bottom: 15px;
}

.c-LogInPage__header > h1 {
  margin-bottom: 15px;
}

.c-LogInPage__header > p {
  font-weight: 300;
}

.c-LogInPage__header > h5,
.c-LogInPage__header > h4 {
  margin-bottom: 15px;
}

.c-LogInPage__button {
  margin-top: 15px;
  color: white;
  background-color: #1b1b1b;
  border: none;
  width: 200px;
  padding: 12px 20px;
  cursor: pointer;
}

.c-LogInPage__button > a {
  color: white;
}
