.c-LogInPage {
  padding: 20px;
  border: 1px solid var(--border-colour);
  width: 85%;
  margin: 50px auto 150px auto;
}

.c-LogInPage__horizontal {
  border-left: 1px solid var(--border-colour);
  margin: 0px 20px;
}
