.c-AccountPage {
  display: flex;
  justify-content: space-between;
}

.c-AccountPage__user {
  font-size: 22px;
}

.c-AccountPage__sidebar {
  width: 25%;
}

.c-AccountPage__orders {
  width: 70%;
}

.c-AccountPage__list {
  display: flex;
  justify-content: space-between;
}

.c-AccountPage__container {
  margin: 10px 0px;
}

.c-AccountPage__container > ul > li {
  margin-top: 15px;
  cursor: pointer;
  font-size: 14px;
}

.c-AccountPage__container > ul > li:hover > .c-AccountPage__list > span {
  text-decoration: underline;
}
