.c-AccountPage {
  display: flex;
  justify-content: space-between;
}

.c-AccountPage__user {
  font-size: 20px;
  margin-bottom: 5px;
}

.c-AccountPage__sidebar {
  width: 15%;
}

.c-AccountPage__orders {
  width: 83%;
}

.c-AccountPage__underline {
  border-bottom: 1px solid var(--border-colour);
}

.c-AccountPage__heading {
  font-size: 22px;
  font-weight: 00;
  margin-bottom: 5px;
}

.c-AccountPage__flex {
  display: flex;
}

.c-AccountPage__list {
  display: flex;
  justify-content: space-between;
}

.c-AccountPage__item {
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
}

.c-AccountPage__item:hover {
  color: var(--highlight-text);
}

@media only screen and (max-width: 1000px) {
  .c-AccountPage {
    display: block;
  }

  .c-AccountPage__orders {
    width: 100%;
  }

  .c-AccountPage__sidebar {
    display: none;
  }

  .c-AccountPage__user {
    display: none;
  }
}
