.c-AccountPage {
  display: flex;
  justify-content: space-between;
}

.c-AccountPage__user {
  font-size: 22px;
}

.c-AccountPage__sidebar {
  width: 20%;
}

.c-AccountPage__orders {
  width: 76%;
}

.c-AccountPage__underline {
  border-bottom: 1px solid var(--border-colour);
}

.c-AccountPage__heading {
  font-size: 22px;
  font-weight: 00;
}

.c-AccountPage__list {
  display: flex;
  justify-content: space-between;
}

.c-AccountPage__container {
  margin: 10px 0px;
}

.c-AccountPage__container > ul > li {
  margin-top: 15px;
  cursor: pointer;
  font-size: 14px;
}
