.c-Input__asterix {
  color: var(--error-colour);
  margin-left: 3px;
}

.c-Input__input {
  width: 100%;
  padding: 8px;
  min-width: 200px;
}

.c-Input__error {
  color: var(--error-colour);
  font-size: 14px;
  margin-top: 3px;
}

.l-Input__label {
  width: 30%;
}

.c-Input__subInfo {
  color: rgb(87, 87, 87);
  font-size: 12px;
  margin-top: 3px;
}
