.c-Input__asterix {
  color: var(--error-colour);
  margin-left: 3px;
}

.c-Input__input {
  width: 35%;
  padding: 8px;
}

.c-Input__error {
  width: 35%;
  margin-left: 20px;
  color: var(--error-colour);
}

.l-Input__label {
  width: 30%;
}
