.c-InputSelectValue__arrow {
  position: absolute;
  right: 12px;
  top: 6px;
  font-size: 18px;
  color: gray;
}

.c-InputSelectValue__current {
  display: inline-block;
  padding: 8px 10px;
}

.c-InputSelectValue {
  font-size: 15px;
}
