.c-CategorySubMenu {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  user-select: none;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 8px 0px;
}

.c-CategorySubMenu__list {
  position: absolute;
  z-index: 999999;
  background-color: white;
  width: 100%;
  top: 20px;
  user-select: none;
}

.c-CategorySubMenu__selected {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 110px;
  padding: 0px 0px 3px 0px;
}

.c-CategorySubMenu__item {
  margin: 0px;
  padding: 20px 20px;
}

.c-CategorySubMenu__subitem {
  padding: 20px 40px;
}

.c-CategorySubMenu__item:hover {
  background-color: rgb(255, 238, 205);
}

.c-CategorySubMenu__subitem:hover {
  background-color: rgb(255, 238, 205);
}

.c-CategorySubMenu__container {
  position: absolute;
  width: 100%;
}

@media only screen and (max-width: 750px) {
  .c-CategorySubMenu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
