.c-Header {
  margin-bottom: 30px;
}

.c-Header__bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid var(--border-colour);
}

.c-Header__column {
  padding: 8px 12px 8px 12px;
  border-left: 1px solid var(--border-colour);
  margin: 6px 0px;
  display: inline-block;
  position: relative;
}

.c-Header__link:hover,
.c-Header__bold,
.c-Header__item:hover {
  color: var(--highlight-text);
}
