.c-ProductDetails {
  position: absolute;
  left: 100%;
  top: 0;
  padding: 0px 30px 30px 30px;
  width: calc(50% - 60px);
  z-index: 5;
}

.c-ProductDetails__title,
.c-ProductDetails__price,
.c-ProductDetails__colour {
  margin-bottom: 20px;
}

.c-ProductDetails__title {
  font-weight: 400;
  font-size: 26px;
}

.c-ProductDetails__price {
  font-weight: 300;
}
