.c-MemberOrGuest {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.l-MemberOrGuest {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 950px) {
  .l-MemberOrGuest {
    flex-direction: column;
  }

  .c-MemberOrGuest {
    width: 95%;
  }
}

