.c-ItemDetails {
  display: flex;
  width: 60%;
}

.c-ItemDetails__detail {
  padding: 0px 15px;
}

.c-ItemDetails__detail > p {
  font-size: 15px;
  padding: 2px 0px;
  outline: none;
}

@media only screen and (max-width: 1000px) {
  .c-ItemDetails {
    width: 100%;
  }
}
