.c-LoginForm__error {
  color: red;
  margin-bottom: 15px;
}

.c-LoginForm__label {
  margin-bottom: 10px;
}

.c-LoginForm__input {
  margin-bottom: 10px;
  width: 100%;
  padding: 7px;
}

.l-LoginForm__button {
  width: 200px;
}
