.c-RegisterPage {
  margin: 50px 0px;
}

.c-RegisterPage__container {
  border-top: 1px solid var(--border-colour);
  border-bottom: 1px solid var(--border-colour);
  padding: 25px;
}

.c-RegisterPage__back {
  padding: 20px;
}

.c-RegisterPage__message > h1 {
  margin-bottom: 5px;
}

.c-RegisterPage__error {
  margin: 20px 0px;
  color: var(--error-colour);
}
