.l-Shipping {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.c-Shipping {
  width: 59%;
}

@media only screen and (max-width: 950px) {
  .l-Shipping {
    flex-direction: column;
  }

  .c-Shipping {
    width: 100%;
  }
}
