.c-ItemDetails {
  display: flex;
  width: 60%;
}

.c-ItemDetails__image {
  width: 100px;
}

.c-ItemDetails__detail > p {
  font-size: 14px;
  padding: 2px 0px;
  outline: none;
}

.c-ItemDetails__detail {
  padding: 0px 15px;
}

.c-CartDetails__name {
  font-size: 20px;
}

.c-ItemDetails__wrapper {
  height: 0;
  padding-bottom: 150%;
}

@media only screen and (max-width: 1000px) {
  .c-ItemDetails {
    width: 100%;
  }
}
