.c-CategoryProduct {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.c-CategoryProduct__product {
  margin: 4px;
  width: calc(100% / 6 - 8px);
}

.c-CategoryProduct__image {
  width: 100%;
}

.c-CategoryProduct__image:hover {
  transform: scale(1.03);
  overflow: hidden;
}

.c-CategoryProduct__details {
  margin: 18px 0px 10px 5px;
}

.c-CategoryProduct__wrapper {
  height: 0;
  padding-bottom: 150%;
}

.c-CategoryProduct__title {
  text-overflow: ellipsis;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
}

.c-CategoryProduct__title:hover {
  color: var(--highlight-text);
}

.c-CategoryProduct__price {
  display: inline-block;
  margin-top: 3px;
  font-size: 13px;
  font-weight: 500;
}

@media only screen and (max-width: 1400px) {
  .c-CategoryProduct__product {
    width: calc(100% / 5 - 8px);
  }
}

@media only screen and (max-width: 1100px) {
  .c-CategoryProduct__product {
    width: calc(100% / 4 - 8px);
  }
}

@media only screen and (max-width: 750px) {
  .c-CategoryProduct__product {
    width: calc(100% / 3 - 8px);
  }
  .c-CategoryProduct {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .c-CategoryProduct__product {
    width: calc(100% / 2 - 8px);
  }
}
