.c-CategoryProduct {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.c-CategoryProduct__product {
  margin: 4px;
  width: calc(100% / 3 - 8px);
}

.c-CategoryProduct__image {
  width: 100%;
}

.c-CategoryProduct__image:hover {
  transform: scale(1.03);
  overflow: hidden;
}

.c-CategoryProduct__details {
  margin: 15px 0px;
}

.c-CategoryProduct__title {
  font-size: 15px;
  font-weight: 200;
}

.c-CategoryProduct__price {
  display: inline-block;
  margin-top: 3px;
  font-size: 18px;
  font-weight: 500;
}

@media only screen and (min-width: 1200px) {
  .c-CategoryProduct__product {
    width: calc(100% / 4 - 8px);
  }
}

@media only screen and (max-width: 750px) {
  .c-CategoryProduct__product {
    width: calc(100% / 3 - 8px);
  }
  .c-CategoryProduct {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .c-CategoryProduct__product {
    width: calc(100% / 2 - 8px);
  }
}
