.l-Order {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.c-Order__information {
  width: 59%;
}

.c-Order__review {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.c-Order__section {
  width: 49%;
}

.c-OrderPage__title {
  margin-top: 20px;
  color: lightgrey;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-colour);
}

.c-OrderPage__btn {
  display: flex;
}

@media only screen and (max-width: 950px) {
  .l-Order {
    flex-direction: column;
  }

  .c-Order__information {
    width: 100%;
  }

  .c-Order__review {
    padding: 0px;
  }
}

@media only screen and (max-width: 550px) {
  .c-Order__section {
    width: 100%;
  }

  .c-OrderPage-btn {
    width: 100%;
  }
}
