.c-Order__list {
  margin: 20px 0px;
}

.c-Order__details {
  display: flex;
  justify-content: space-between;
}

.c-Order-btn {
  margin-top: 0px;
}

@media only screen and (max-width: 800px) {
  .c-Order-hide-3 {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  .c-Order-hide-2 {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .c-Order-hide-1 {
    display: none;
  }

  .c-Order-btn {
    width: 160px;
  }
}
