.c-CheckoutForm__headers {
  margin-top: 15px;
}

.c-CheckoutForm__label {
  width: 100%;
}

.c-CheckoutForm__input {
  width: 100%;
}

.c-CheckoutForm__row {
  display: flex;
  justify-content: space-between;
}

.c-CheckoutForm__half {
  width: 49%;
  margin: 2px 0px;
}

.c-CheckoutForm__input {
  width: 100%;
}
