.c-RegisterPage {
  margin: 0px 0px 150px;
}

.c-RegisterPage__container {
  border-top: 1px solid var(--border-colour);
  border-bottom: 1px solid var(--border-colour);
  padding: 25px;
}

.c-RegisterPage__backBtn {
  padding: 20px;
}

.c-RegisterPage__error {
  margin: 10px 0px 15px 0px;
  color: var(--error-colour);
}

.c-RegisterPage__label {
  width: 20%;
}

.c-RegisterPage__formItem {
  margin: 10px 0px;
}

.c-RegisterPage__input {
  width: 50%;
}
