.c-ShippingInput__label {
  padding-top: 10px;
  padding-bottom: 5px;
}

.c-ShippingInput__input {
  width: 100%;
  border-radius: 0px;
  border: 1px solid var(--border-colour);
  padding: 10px;
}

.c-ShippingInput__subInfo {
  color: rgb(87, 87, 87);
  font-size: 12px;
  margin-top: 3px;
}

.c-ShippingInput__error {
  color: red;
  font-size: 12px;
}

.c-ShippingInput__asterix {
  color: red;
  margin-left: 2px;
}
