.c-CheckoutPaymentInformation {
  margin-top: 30px;
  padding-top: 25px;
  border-top: 1px solid var(--border-colour);
}

.c-CheckoutPaymentInformation__half {
  width: 49%;
  margin: 2px 0px;
}

@media only screen and (max-width: 600px) {
  .c-CheckoutPaymentInformation__half {
    width: 100%;
  }
}
